



@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-sans;
    background-color: white;
    background-image: url('/icon2.webp');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    }


  /* CSS */
.shadow-custom {
  box-shadow: 0 0 10px rgba(199, 54, 89, 0.9);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  display: none;
}

@media screen and (max-width: 480px) {
  ::-webkit-scrollbar-track {
      display: none;
  }
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}


