@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-sans;
  }


  /* CSS */
.shadow-custom {
  box-shadow: 0 0 10px rgba(199, 54, 89, 0.9);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  display: none;
}

@media screen and (max-width: 480px) {
  ::-webkit-scrollbar-track {
      display: none;
  }
}

button:focus, a:focus {
  outline: none;
}

